<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>

</head>
<body>
<header>
  <nav id="drawer" class="nav">
    <div class="logo">
      <h1>RestoranKu</h1>
    </div>

      <ul class="nav_list">
        <li class="nav_item"><a href="#">Home</a></li>
        <li class="nav_item"><a href="#">Favorite</a></li>
        <li class="nav_item"><a href="#">About Us</a></li>
      </ul>

  </nav>
</header>

<div class="hero">
  <div class="hero_inner">
    <h1 class="hero_title">Nikmati Hidangan Kami dengan Hidangan Kelas Dunia</h1>
    <p>Satu di antara hal terindah dalam hidup adalah, cara kita harus secara teratur menghentikan apa pun yang sedang kita lakukan dan mencurahkan perhatian kita untuk makan.</p>
  </div>
</div>

<main>
  <section class="content">
    <div class="content_inner">
      <h1 class="content_label">Daftar Restoran</h1>
      <hr>
     
    </div>
  </section>
</main>

<footer>
    <h1>Copyright &copy; Hungger Apps</h1>
</footer>

<script src="../scripts/index.js"></script>
</body>
</html>
